@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  display: flex;
  flex-direction:  column;
  justify-content: space-evenly;

 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer {
  display:flex;
  flex-direction: row;
  padding: 5px;
}
.left-links, .right-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 5px;
}

.right-links {
  margin-left: auto;
}
.left-links {
  margin-right: auto;
}

.right-links a, .left-links a {
  text-decoration: none;
  color: rgb(117, 117, 117);
  padding: 10px;
}

.header {
  margin-bottom: auto;
}

.footer {
  background-color: #eee;
 margin-top: auto;
}